<div *ngIf="fullDetails">

  <p>{{fullDetails.name}}</p>

  <ul>
    <li *ngFor="let country of fullDetails">
         <h3>Here is the information about the country</h3>
            <img height="100px" width="50%" src="{{country.flag}}" /> 
              <strong>
                <p>Name: {{country.name}}</p>
                <p>Capital: {{country.capital}}</p>
                <p> Native name: {{country.nativeName}}</p>
                <p> Population: {{country.population}}</p>
                <p> Country-Code: {{country.area}}</p>
                <p> Timezone: {{country.timezones[0]}}</p>
              </strong>
        
    </li>
  </ul>
</div>
  <!-- 
  <app-details *ngIf="getCountryInfo"></app-details> -->
